@charset "UTF-8";
@font-face { font-family: 'AvantGarde'; src: url("../assets/fonts/AvantGarde.eot"); src: url("../assets/fonts/AvantGarde.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvantGarde.svg#AvantGarde") format("svg"), url("../assets/fonts/AvantGarde.ttf") format("truetype"), url("../assets/fonts/AvantGarde.woff") format("woff"), url("../assets/fonts/AvantGarde.woff2") format("woff2"); font-weight: normal; font-style: normal; }

html, body { margin: 0; }

body { background: #F4F4F4; color: #333333; font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizelegibility; overflow-x: hidden; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; outline: none; }

body .light h1, body .light h2, body .light h3, body .light h4, body .light h5, body .light h6 { color: #ffffff !important; }

body .light p { color: rgba(255, 255, 255, 0.7) !important; font-weight: bold; }

body .light p .graph { position: relative; }

body .light p .graph:after { position: absolute; right: -25px; top: 3px; content: ''; width: 16px; height: 11px; background-image: url(../assets/images/icons/graph.svg); background-position: center; background-size: 100%; background-repeat: no-repeat; }

body .light hr { border-color: rgba(255, 255, 255, 0.15); }

body .light a.transparent { color: #fff; border-bottom: 1px dashed #fff; opacity: .7; }

body .light a.transparent:hover { opacity: 1; }

body .light form.form-linear .form-group.has-error { position: relative; }

body .light form.form-linear .form-group.has-error .input-group-append { position: relative; }

body .light form.form-linear .form-group.has-error .input-group-append:before { content: ''; position: absolute; top: 0; bottom: 0; left: -33px; width: 18px; height: 100%; background-image: url("../assets/images/icons/warning.svg"); background-repeat: no-repeat; background-position: center; }

body .light form.form-block .form-group.has-error .form-control { -webkit-box-shadow: 0 0 0 2px #e0a8a8; box-shadow: 0 0 0 2px #e0a8a8; }

body .light form.form-block .form-group.has-error .input-group .input-group-prepend .input-group-text { -webkit-box-shadow: 0 0 0 2px #e0a8a8; box-shadow: 0 0 0 2px #e0a8a8; }

body .light .form-group { color: #fff; margin-bottom: 20px; }

body .light .form-group label { font-size: 1.142em; }

body .light .form-group label .required { color: rgba(255, 255, 255, 0.7); }

body .light .form-group .text-muted { color: rgba(255, 255, 255, 0.7) !important; font-weight: bold; }

body header { position: relative; height: 95vh; }

body header .navbar { padding: 50px 0; }

body header .header-bg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: -1; background-image: url("../assets/images/header-bg.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }

body header .header-bg.header-bg-faded:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: -1; background-color: rgba(0, 0, 0, 0.5); }

body header .offset-top { margin-top: 150px; }

body header .moved { position: absolute; left: 50%; bottom: 0; -webkit-transform: translate(-50%, 50%); -ms-transform: translate(-50%, 50%); transform: translate(-50%, 50%); z-index: 10; }

body header .moved .row:not(.owl-carousel) { padding-left: 15px; padding-right: 15px; }

body header .moved .row.owl-carousel { margin: 0; }

body header .form-control { background-color: #fff !important; }

body header .input-group .input-group-prepend .input-group-text { border: none; border-right: 2px solid #F4F4F4; }

body .form-control { outline: none !important; border: none !important; border-radius: 2px; font-size: 0.92em; font-weight: bold; padding-left: 10px; background-color: #F4F4F4; color: #959595; }

body .form-control::-webkit-input-placeholder { color: #BCBCBC; }

body .form-control::-moz-placeholder { color: #BCBCBC; }

body .form-control:-ms-input-placeholder { color: #BCBCBC; }

body .form-control:-moz-placeholder { color: #BCBCBC; }

body .form-control:focus, body .form-control.focus { outline: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; border: inherit !important; background-color: #F4F4F4; }

body .input-group .input-group-prepend .input-group-text { background-color: #fff !important; border-color: #fff; border: 1px solid #F4F4F4; font-size: 0.92em; font-weight: bold; color: #333333; }

body .owl-carousel .owl-dots { margin-top: 15px !important; }

body .owl-carousel .owl-dots .owl-dot span { width: 7px; height: 7px; margin: 5px 6px; background: #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

body .owl-carousel .owl-dots .owl-dot.active span { background: #bdbdbd; }

body .owl-carousel .owl-stage { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

body .owl-carousel .owl-item { display: -ms-flexbox; display: -webkit-box; display: flex; height: auto !important; }

body .owl-carousel.header-features .owl-dots { position: absolute; bottom: 0.375em; right: 0px; }

body .modal .modal-dialog .modal-content { border-radius: 4px; border: none; }

body .modal .modal-dialog .modal-content:after { content: ''; position: absolute; top: 5px; left: 5px; width: calc(100% - 10px); height: calc(100% - 10px); border-radius: 4px; border: 1px solid #F7F7F7; pointer-events: none; }

body .modal .modal-dialog .modal-content .modal-header { border: none; padding-bottom: 0em; }

body .modal .modal-dialog .modal-content .modal-body p, body .modal .modal-dialog .modal-content .modal-body ul { font-size: 0.9em; }

body .box { padding: 30px 30px 25px; border-radius: 4px; position: relative; }

body .box:before { content: ''; position: absolute; top: 5px; left: 5px; width: calc(100% - 10px); height: calc(100% - 10px); border-radius: 4px; border: 1px solid #F7F7F7; }

body .box.box-white { background-color: #fff; }

body .box.box-features { padding-left: 120px; }

body .box.box-features:after { content: attr(data-feature-number); position: absolute; top: 0; left: 0; -webkit-transform: translate(-25%, -10px); -ms-transform: translate(-25%, -10px); transform: translate(-25%, -10px); font-size: 100px; font-weight: bold; }

body .box.box-features:nth-child(2)::after { color: #3E76E0; }

body .box.box-features:nth-child(3)::after { color: #3EB4E0; }

body .box.box-features:nth-child(4)::after { color: #3EE0DA; }

body .box.box-features:nth-child(5)::after { color: #3EE0A8; }

body .box h1, body .box h2, body .box h3, body .box h4, body .box h5, body .box h6 { color: #333333 !important; }

body .box p { color: #959595 !important; }

body .card { border: none; overflow: hidden; }

body .card .card-header { background-color: #FCFCFC; padding: 25px 30px 20px; border-bottom: 1px solid #efefef; }

body .card .card-header h3 { font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-weight: bold; text-transform: unset; font-size: 1.57em; margin: 0; line-height: 1; }

body .card .card-body { padding: 25px 30px 20px; }

body .card .card-body .card-title { font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-weight: bold; text-transform: unset; font-size: 1.57em; }

body .card .card-body .card-subtitle { color: #959595; }

body .card .card-body .card-text.card-text-overflow { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }

body .card .card-body.card-body-map { padding: 0 !important; }

body .card .card-body.card-body-gray { background-color: #FCFCFC; }

body .card .card-footer { background-color: #fff; padding: 15px 30px 15px; border-top: 1px solid #efefef; }

body .card .card-footer .card-price { font-weight: bold; font-size: 1.1em; }

body .property { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: #ffffff; border-radius: 4px; overflow: hidden; -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1); box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1); margin-bottom: 50px; }

body .property:last-child { margin-bottom: 20px; }

body .property .property-images { width: 400px; height: 100%; }

body .property .property-images img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

body .property .property-body { padding: 30px 30px 25px; }

body .property .property-body .property-title h3 { font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-weight: bold; font-size: 1.57em; text-transform: unset; }

body .property .property-body .property-title .property-body-adress { color: #959595; }

body .property .property-body .property-description { margin-bottom: 20px; }

body .property .property-body .property-description p { text-align: justify; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }

body .property .property-body .property-characteristics { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

body .property .property-body .property-characteristics .property-characteristics-item { padding-right: 50px; }

body .property .property-body .property-characteristics .property-characteristics-item:last-child { padding-right: 0; }

body .property .property-body .property-characteristics h5, body .property .property-body .property-characteristics h6 { text-align: center; font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-weight: bold; text-transform: unset; }

body .property .property-body .property-characteristics h5 { font-size: 1.5em; }

body .property .property-body .property-characteristics h6 { color: #959595; font-size: 0.9em; }

body .characteristics { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; white-space: nowrap; line-height: 1; margin-bottom: 20px; }

body .characteristics .line { width: 100%; height: 0px; border-bottom: 1px dashed #DDDDDD; margin-right: 20px; margin-left: 20px; }

body .characteristics .value { font-weight: bold; }

body .property-video-btn { width: 133px; height: 133px; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 30px; color: #fff; background-image: url("../assets/images/properties/video-button.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; position: relative; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; cursor: pointer; }

body .property-video-btn .fa { -webkit-transition: -webkit-transform 0.2s ease-in-out; transition: -webkit-transform 0.2s ease-in-out; -o-transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

body .property-video-btn:hover .fa { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }

body .property-video-btn:hover:after { border-width: 0px; }

body .property-video-btn:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; border: 6px solid rgba(255, 255, 255, 0.5); -webkit-transition: border-width 0.2s ease-in-out; -o-transition: border-width 0.2s ease-in-out; transition: border-width 0.2s ease-in-out; }

body .property-video-btn:before { content: 'Видео-презентация'; position: absolute; top: 50%; left: 0; width: auto; height: auto; padding: 15px 85px; z-index: -1; font-size: 16px; font-weight: bold; white-space: nowrap; border-radius: 40px; background-color: #18C77E !important; border-color: #18C77E !important; -webkit-box-shadow: 0 10px 20px -5px rgba(113, 222, 176, 0.5); box-shadow: 0 10px 20px -5px rgba(113, 222, 176, 0.5); -webkit-transform: translate(calc(-100% + 30px), -50%); -ms-transform: translate(calc(-100% + 30px), -50%); transform: translate(calc(-100% + 30px), -50%); cursor: pointer; pointer-events: all; }

body .filters { display: -webkit-box; display: -ms-flexbox; display: flex; }

body .filters .filter { cursor: pointer; color: #959595; }

body .filters .filter:hover { color: #333333; }

body .filters .filter.active { color: #333333; }

body .filters .filter.active .filter-direction { visibility: visible; }

body .filters .filter .filter-direction { visibility: hidden; }

body .masonry-with-columns { -webkit-columns: 2 100px; -moz-columns: 2 100px; columns: 2 100px; -webkit-column-gap: 1rem; -moz-column-gap: 1rem; column-gap: 1rem; }

body .masonry-with-columns div { width: 100px; margin: 0 1rem 1rem 0; display: inline-block; width: 100%; height: 200px; }

body .masonry-with-columns div:nth-child(2n-1), body .masonry-with-columns div:last-child { height: 300px; }

body .masonry-with-columns div img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; border-radius: 3px; }

body.page-404 { background-color: #55C3EF; color: rgba(255, 255, 255, 0.7); text-align: center; height: 100vh; }

body.page-404 .heading-404 { font-size: 200px; font-family: "AvantGarde", "PT Sans", sans-serif; color: #fff; line-height: 1; margin-top: 20px; margin-bottom: 20px; }

body.page-404 p { color: #fff; margin-bottom: 30px; }

body .text-group { margin-bottom: 15px; }

body .text-group label { color: #959595; margin-bottom: 5px; }

body .text-group h5 { font-size: 1.28em; font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-weight: bold; text-transform: unset; }

section { padding: 75px 0 85px; position: relative; }

section .container { z-index: 10; position: relative; }

section.white { background-color: #fff !important; }

section.objects { padding-top: 130px; }

section.objects .objects-tiles { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }

section.objects .objects-tiles .tile { height: 300px; }

section.objects .objects-tiles .tile .tile-wrapper { position: relative; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; cursor: pointer; }

section.objects .objects-tiles .tile .tile-wrapper .tile-front { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 0; overflow: hidden; }

section.objects .objects-tiles .tile .tile-wrapper .tile-front img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

section.objects .objects-tiles .tile .tile-wrapper .tile-back { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; background-color: #ffffff; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; opacity: 0; padding: 30px; }

section.objects .objects-tiles .tile .tile-wrapper .tile-back p { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; }

section.objects .objects-tiles .tile .tile-wrapper:hover .tile-back { opacity: 1; }

section.objects .objects-tiles .tile h5, section.objects .objects-tiles .tile h6 { font-family: "PT Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

section.objects .objects-tiles .tile h5 { font-size: 1.57em; font-weight: 600; text-transform: unset; }

section.objects .objects-tiles .tile h6 { font-size: 1em; font-weight: normal; text-transform: unset; color: #959595; }

section.features .blured-bg:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background-color: #E5E5E5; -webkit-filter: blur(40px); filter: blur(40px); }

section.golf { padding-bottom: 200px; }

section.golf .golf-images { position: relative; }

section.golf .golf-images img { width: 100%; position: absolute; }

section.golf .golf-images img:nth-child(1) { top: 100px; right: 0; z-index: 2; }

section.golf .golf-images img:nth-child(2) { top: 0px; right: -100px; z-index: 1; }

section.golf .caption:after { content: ''; position: absolute; bottom: -30px; right: 0; width: 100px; height: 10px; border-radius: 2px; border: 1px solid #E8E8E8; border-top: none; border-right: none; }

section.free-visit { position: relative; }

section.free-visit .free-visit-bg { position: absolute; top: 0; right: 0; width: 100%; height: 100%; z-index: -1; background-image: url("../assets/images/free-visit.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; }

section.map .map-frame { position: absolute; top: 0; right: 0; width: 100%; height: 100%; z-index: 1; }

section.map .box { -webkit-box-shadow: 0 20px 30px -15px #afafaf; box-shadow: 0 20px 30px -15px #afafaf; }

section.map .container { pointer-events: none; }

section.map .container .box { pointer-events: all !important; }

section.moved-top { margin-bottom: -200px; }

section.moved-top .container { -webkit-transform: translateY(-200px); -ms-transform: translateY(-200px); transform: translateY(-200px); }

section.property-photos { padding: 0; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }

section.property-photos div img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

footer { position: relative; z-index: 0; padding: 75px 0 85px; background-color: #ffffff; }

footer.sub { background-color: #F4F4F4; padding: 10px 0; color: #959595; }

footer.sub a { color: #959595; }

h1, h2, h3, h4, h5, h6 { font-family: "AvantGarde", "PT Sans", sans-serif; color: #333333; line-height: normal; position: relative; text-transform: uppercase; }

h1 { font-size: 2.9em; text-transform: uppercase; }

h2 { font-size: 1.714em; margin-bottom: 15px; }

.h2-subheading { font-size: 1em; color: #548FFF; display: block; margin-bottom: 5px; }

.h2-subheading.green { color: #03C621; }

h3 { font-size: 1.283em; margin-bottom: 15px; }

h3[data-bg-text]:before { content: attr(data-bg-text); position: absolute; font-size: 8em; color: #A0A0A0; opacity: .05; top: 0; left: 0; -webkit-transform: translate(-25%, -50%); -ms-transform: translate(-25%, -50%); transform: translate(-25%, -50%); }

.h3-subheading { font-size: 0.714em; color: #548FFF; margin-top: -15px; display: block; margin-bottom: 15px; }

h4 { font-size: 1.1em; }

h5 { font-size: 1.1em; }

p { margin-bottom: 15px; }

p.small { font-size: 0.785em; opacity: 0.7; }

p.caption { position: relative; font-size: 0.785em; font-style: italic; font-weight: normal; }

button { text-decoration: none !important; outline: none !important; }

a { text-decoration: none !important; color: #333333; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

a:not(.btn):hover, a:not(.btn):active { color: #333333; opacity: 0.8; outline: none !important; }

a:not(.btn):focus { color: #333333; outline: none !important; }

a[href^="tel"] { color: inherit; text-decoration: none; }

ul.colored { list-style: none; position: relative; padding-left: 30px; }

ul.colored li { position: relative; }

ul.colored li:before { content: ''; position: absolute; top: 7px; left: -15px; width: 5px; height: 7px; background-image: url("../assets/images/icons/chevron-right.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center left; }

ul.rect li:before { content: ''; position: absolute; top: 7px; left: -15px; width: 5px; height: 5px; background-color: #55C3EF; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.btn { font-size: 1em; font-weight: bold; padding-left: 40px !important; padding-right: 40px !important; padding-top: 15px !important; padding-bottom: 15px !important; line-height: 1px; position: relative; border-radius: 2px; color: #fff !important; }

.btn.disabled, .btn:disabled { opacity: 1; cursor: no-drop; }

.btn.loading { opacity: 1; cursor: wait; }

.btn.btn-golf:after { content: ''; position: absolute; top: 0; right: 0; width: 125px; height: 125px; -webkit-transform: translate(66%, -50%); -ms-transform: translate(66%, -50%); transform: translate(66%, -50%); background-image: url(../assets/images/icons/golf.png); background-repeat: no-repeat; background-position: center; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.btn.btn-golf:hover::after { -webkit-transform: translate(70%, -50%); -ms-transform: translate(70%, -50%); transform: translate(70%, -50%); }

.btn.btn-green { background-color: #18C77E !important; border-color: #18C77E !important; -webkit-box-shadow: 0 10px 20px -5px rgba(113, 222, 176, 0.5); box-shadow: 0 10px 20px -5px rgba(113, 222, 176, 0.5); }

.btn.btn-green:hover { background-color: #16b975 !important; border-color: #16b975 !important; -webkit-box-shadow: 0 10px 20px -20px rgba(113, 222, 176, 0.5); box-shadow: 0 10px 20px -20px rgba(113, 222, 176, 0.5); }

.btn.btn-primary { background-color: #FFAD54 !important; border-color: #FFAD54 !important; -webkit-box-shadow: 0 10px 20px -5px rgba(244, 172, 82, 0.5); box-shadow: 0 10px 20px -5px rgba(244, 172, 82, 0.5); }

.btn.btn-primary:hover { background-color: #eaa04f !important; border-color: #eaa04f !important; -webkit-box-shadow: 0 10px 20px -20px rgba(244, 172, 82, 0.5); box-shadow: 0 10px 20px -20px rgba(244, 172, 82, 0.5); }

.btn.btn-blue { background-color: #548FFF !important; border-color: #548FFF !important; -webkit-box-shadow: 0 10px 20px -5px rgba(84, 143, 251, 0.5); box-shadow: 0 10px 20px -5px rgba(84, 143, 251, 0.5); }

.btn.btn-blue:hover { background-color: #5187ef !important; border-color: #5187ef !important; -webkit-box-shadow: 0 10px 20px -20px rgba(84, 143, 251, 0.5); box-shadow: 0 10px 20px -20px rgba(84, 143, 251, 0.5); }

.btn.btn-link { padding-left: 0 !important; padding-right: 7px !important; font-weight: normal; color: #548FFF !important; }

.btn.btn-link:after { content: ''; position: absolute; top: 0; bottom: 0; right: -5px; width: 5px; height: 100%; background-image: url(../assets/images/icons/chevron-right.svg); background-repeat: no-repeat; background-position: center; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.btn.btn-rounded { border-radius: 20px; }

.btn.btn-phone { padding-left: 40px !important; position: relative; }

.btn.btn-phone:before { content: ''; position: absolute; width: 7px; height: 7px; border-radius: 50%; background-color: #4CF79B; top: 50%; left: 20px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

@media (max-width: 992px) { h1 { font-size: 2.5em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.95em; }
  body header { height: unset; padding-bottom: 4em; }
  body header .moved { position: unset; left: unset; bottom: unset; -webkit-transform: none; -ms-transform: none; transform: none; z-index: unset; }
  body header .offset-top { margin-top: 125px; }
  body .box .box-features:after { font-size: 70px; }
  body .box p { font-size: 0.9em; }
  body .property .property-images { width: 100%; }
  section.golf .golf-images img { position: unset; margin-bottom: 30px; }
  section.objects { padding-top: 75px; }
  section.objects .objects-tiles { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; }
  section.moved-top { margin-bottom: 0; }
  section.moved-top .container { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  .card .card-body-map { height: 300px; }
  .btn.btn-golf:after { display: none; } }

@media (max-width: 768px) { body header .offset-top { margin-top: 50px; }
  body .card .card-header h3 { font-size: 1.3em; }
  body .card .card-body .card-title { font-size: 1.3em; }
  body .property .property-body .property-title h3 { font-size: 1.3em; }
  body .property .property-body .property-characteristics h5 { font-size: 1.2em; }
  section.property-photos { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; }
  .d-flex-col-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; }
  .btn.btn-phone { padding: 0 !important; position: relative; font-size: 24px; width: 48px; height: 48px; border-radius: 50%; line-height: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .btn.btn-phone:before { display: none; } }

@media (max-width: 576px) { h1 { font-size: 2em; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.1em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.95em; }
  body header .navbar { padding: 25px 0; }
  body header .moved .row { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  body .btn { padding-left: 5px !important; padding-right: 5px !important; width: 100%; }
  body .box.box-features:after { top: 50%; left: 20px; font-size: 60px; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
  body .card .card-header { padding: 15px 20px 10px; }
  body .card .card-body { padding: 15px 20px 10px; }
  body .card .card-footer { padding: 15px 20px 15px; }
  body .property .property-body .property-characteristics { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  body .property .property-body .property-characteristics .property-characteristics-item { padding-right: 0; }
  section.objects .objects-tiles { grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
  section.features { padding-bottom: 20px; }
  section.golf { padding-bottom: 85px; }
  .extra-p { padding-left: 15px; padding-right: 15px; } }

/*# sourceMappingURL=style.css.map */
