@font-face {
  font-family: 'AvantGarde';
  src: url('../assets/fonts/AvantGarde.eot');
  src: url('../assets/fonts/AvantGarde.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/AvantGarde.svg#AvantGarde') format('svg'),
       url('../assets/fonts/AvantGarde.ttf') format('truetype'),
       url('../assets/fonts/AvantGarde.woff') format('woff'),
       url('../assets/fonts/AvantGarde.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}