@media (max-width: 1400px) {
	h1 {

	}
}

@media (max-width: 1200px) {
  
}

@media (max-width: 992px) {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.95em;
	}

	body {

		header {
			height: unset;
			padding-bottom: 4em;

			.moved {
				position: unset;
				left: unset;
    		bottom: unset;
    		transform: none;
    		z-index: unset;
			}

			.offset-top {
				margin-top: 125px;
			}
		}

		.box {
			.box-features:after {
				font-size: 70px;
			}

			p {
				font-size: 0.9em;
			}
		}

		.property {

	    .property-images {
	    	width: 100%;
	    }
	  }
	}

	section {

		&.golf {

			.golf-images {

				img {
					position: unset;
					margin-bottom: 30px;
				}
			}
		}

		&.objects {

			padding-top: 75px;

			.objects-tiles {
	      grid-template-columns: 1fr 1fr;
	      grid-template-rows: 1fr 1fr 1fr;
			}
		}

		&.moved-top {
			margin-bottom: 0;

			.container {
      	transform: translateY(0);
   	 	}
		}
	}

	.card {

		.card-body-map {
			height: 300px;
		}
	}

	.btn {

		&.btn-golf {

			&:after {
				display: none;
			}
		}
	}

	.property {
		flex-wrap: wrap;
	} 
}

@media (max-width: 768px) {

	body {

		header {

			.offset-top {
				margin-top: 50px;
			}
		}

		.card {

			.card-header {

				h3 {
					font-size: 1.3em;
				}
			}

			.card-body {

				.card-title {
					font-size: 1.3em;
				}
			} 
		}

		.property {

			.property-body {

				.property-title {

					h3 {
						font-size: 1.3em;
					}
				} 

				.property-characteristics {
					h5 {
						font-size: 1.2em;
					}
				} 
			} 
		} 
	}

	section {
		&.property-photos {
	    grid-template-columns: 1fr 1fr;
	    grid-template-rows: 1fr 1fr 1fr;
	  }
	}

	.d-flex-col-mobile {
		display: flex;
		flex-direction: column!important;
	}

	.btn {
		&.btn-phone {
			padding: 0!important;
			position: relative;
			font-size: 24px;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			&:before {
				display: none;
			}
		}
	}
}

@media (max-width: 576px) {

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.4em;
	}

	h3 {
		font-size: 1.1em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.95em;
	}

	body {
  	header {

  		.navbar {
  			padding: 25px 0;
  		}

  		.moved {

	      .row {
	        flex-wrap: nowrap;
	      }
	    }
  	}

  	.btn {
  		padding-left: 5px!important;
  		padding-right: 5px!important;
  		width: 100%;
  	}

  	.box {

  		&.box-features:after {
  			top: 50%;
  			left: 20px;
  			font-size: 60px;
  			transform: translate(0, -50%);
  		}
  	}

  	.card {

  		.card-header {
  			padding: 15px 20px 10px; 
  		}

  		.card-body {
  			padding: 15px 20px 10px;
  		}

  		.card-footer {
  			padding: 15px 20px 15px;
  		}
  	}

  	.property {

			.property-body {

				.property-characteristics {
					justify-content: space-between;
					flex-wrap: wrap;

					.property-characteristics-item {
						padding-right: 0;
					}
				} 
			} 
		} 

		.property-video-btn {
			width: 100px;
			height: 100px;

			&:before {
				padding: 15px 60px;
			}
		}
  }

	section {

		&.objects {

			.objects-tiles {
	      grid-template-columns: 1fr;
	      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}

		&.features {
			padding-bottom: 20px;
		}

		&.golf {
			padding-bottom: 85px;
		}
	}

	.extra-p {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 380px) {
	.property-video-btn {
		width: 100px;
		height: 100px;

		&:before {
			display: none
		}
	}
}

@media (max-width: 365px) {
	
}

@media (min-width: 1200px) {
  
}

@media (min-width: 992px) {
  
}
