$bg-color: #F4F4F4;
$bg-color-primary: #55C3EF;
$bg-color-primary-darker: #51B2D8;
$bg-color-white: #ffffff;

$font-color: #333333;
$font-color-light: rgba(255, 255, 255, 0.7);
$font-color-dark: #959595;
$font-color-primary: #548FFF;
$font-color-green: #03C621;


$font-color-headers: #333333;
$font-color-headers-light: #ffffff;

$font-family-main: 'PT Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-headers: 'AvantGarde', 'PT Sans', sans-serif;

$transition: all 0.2s ease-in-out;

$logo-scale: scale(0.8);
